
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../assets/MyFont.TTF) format('truetype'); 
}

body {
  font-family: 'MyFont';
  font-size: 40px;
}


/* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners for the handle */
}

/* Hover state for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Darker color when hovered */
}

/* Scrollbar Track when scrollbar is inactive */
::-webkit-scrollbar-track {
  background: #000; /* Color of the track */
}

/* Scrollbar Handle when scrollbar is inactive */
::-webkit-scrollbar-track-thumb {
  background: #000; /* Color of the handle */
}
