
@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/MyFont.TTF) format('truetype'); /* Add a semicolon here */
  /* other formats include: 'woff2', 'truetype', 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  font-family: 'MyFont';
  font-size: 40px; /* Add a semicolon here */
}

